/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #f9f9f9;
  line-height: 1.6;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li a {
  text-decoration: none;
  color: #0E162C;
  font-weight: 500;
}

.navbar li a:hover {
  color: #616845;
}

.navbar li.green_button a{
color:#DDDFD5;
background-color: #616845;
padding: 5px 10px;
cursor: pointer;
}

.navbar li.green_button a:hover {
color: #616845;
background-color: #DDDFD5;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background-color: #ffffff;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
}

.cta-button {
  text-decoration: none;
  color: #dddfd5;
  background-color: #616845;
  padding: 10px 20px;
  font-weight: lighter;
}

.cta-button:hover {
  color: #616845;
  background-color: #dddfd5;
}

/* Cards Section */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  padding: 15px;
  font-size: 1rem;
  color: #666;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #ddf2dc;
  color: black;
  font-size: 0.9rem;
}
