/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.6;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  position: sticky;
  z-index: 999;
  top: -10px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.header-logo img {
  height: 45px;
}

/* Navbar Styling */
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar li a {
  text-decoration: none;
  color: #0e162c;
}

.navbar li a:hover {
  color: #616845;
}

.navbar .cta-button {
  all: unset; /* Reset all parent and inherited styles */
  cursor: pointer; /* Change cursor to pointer */
}

/* Button Styling */
.navbar .cta-button a {
  display: inline-block;
  padding: 8px 15px;
  background-color: #616845; /* Initial background */
  color: #dddfd5; /* Initial text color */
  text-decoration: none; /* Remove underlines */
}

.navbar .cta-button a:hover {
  background-color: #dddfd5;
  color: #616845;
  transition: all 0.3s ease; /* Adds a cool & smooth transition :) */
}

/* Hamburger Menu - Hidden by Default */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background-color: #0e162c;
  transition: all 0.3s ease-in-out;
}

/* Checkbox Hidden */
.nav-toggle {
  display: none;
}

/* Mobile Navigation */
@media screen and (max-width: 750px) {
  .hamburger {
    display: flex;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dddfd5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible; /* Ensure visibility */
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
    gap: 30px;
  }

  .navbar a {
    font-size: 2rem;
  }

  /* Show Navigation When Checkbox is Checked */
  .nav-toggle:checked ~ .navbar {
    transform: translateX(0);
  }

  /* Hamburger Animation */
  .nav-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
    background-color: #0e162c;
  }

  .nav-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
    background-color: #0e162c;
  }
}

/* BlockSection */

.block {
  background-color: #616845;
  block-size: 5px;
  width: 5%;
  margin: 0 auto; /* Centers horizontally and adds top margin */
}

/* CTA Button */
.cta-button {
  text-decoration: none;
  color: #dddfd5;
  background-color: #616845;
  padding: 10px 20px;
}

.cta-button:hover {
  color: #616845;
  background-color: #dddfd5;
  transition: all 0.3s ease; /* Adds a cool & smooth transition :) */
}

/* angebot.html */

.whole_grid {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.whole_grid h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.white_space {
  text-align: center;
  padding: 100px 0px;
  grid-row: 1;
  grid-column: span 3;
}
.design_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
  grid-column: span 2;
  grid-row: 2;
  background-color: #dddfd5;
}

.design_img {
  grid-column: 3;
  grid-row: 2;
  background-color: #dddfd5;
}
.design_img img,
.umsetzung_img img,
.beratung_img img,
.abonnement_img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* skaliert Bild,um den Bereich zu füllen */
}

.white_space_1 {
  margin: 30px;
  padding: 30px;
  grid-row: 3;
  grid-column: span 3;
}

.beratung_img {
  grid-column: 1;
  grid-row: 4;
  background-color: #dddfd5;
}

.beratung_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
  grid-row: 4;
  grid-column: span 2;
  background-color: #dddfd5;
}

.white_space_2 {
  margin: 30px;
  padding: 30px;
  grid-row: 5;
  grid-column: span 3;
}

.umsetzung_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
  grid-column: span 2;
  grid-row: 6;
  background-color: #dddfd5;
}

.umsetzung_img {
  grid-column: 3;
  grid-row: 6;
  background-color: #dddfd5;
}

.white_space_3 {
  margin: 30px;
  padding: 30px;
  grid-row: 7;
  grid-column: span 3;
}

.abonnement_img {
  grid-column: 1;
  grid-row: 8;
  background-color: #dddfd5;
}

.abonnement_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
  grid-column: span 2;
  grid-row: 8;
  background-color: #dddfd5;
}

/* Footer */
footer {
  font-size: 1rem;
  padding: 40px 20px;
  border-top: 1px solid #ddd;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1500px;
  margin: 50px auto;
  padding: 0 20px;
}

.footer-logo {
  flex-grow: 2;
  text-align: left;
}

.footer-nav,
.footer-contact {
  flex: 1;
  text-align: left;
  min-width: 200px;
}

.footer-logo img {
  width: 150px;
}

.footer-nav h3,
.footer-contact h3 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul li {
  margin-bottom: 10px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #333;
}

.footer-nav ul li a:hover {
  color: #616845;
}

.footer-contact p {
  margin-bottom: 10px;
}

.footer-contact a {
  color: #333;
  text-decoration: none;
}

.footer-contact a:hover {
  color: #616845;
}

.footer-bottom {
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Push <p> to the left and nav to the right */
  align-items: center; /* Align both vertically */
  padding: 10px 20px; /* Add some padding */
  border-top: 1px solid #ddd; /* Optional: Add a top border for separation */
  font-size: 0.9rem; /* Adjust font size as needed */
}

.footer-bottom p {
  margin: 0; /* Remove default margin from <p> */
}

.footer-links {
  display: flex; /* Use Flexbox for horizontal layout */
  gap: 20px; /* Add spacing between links */
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #616845;
}

@media (max-width: 1024px) {
  .whole_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .design_text {
    grid-row: 3;
    grid-column: 1;
  }

  .design_img {
    grid-row: 3;
    grid-column: 2;
  }

  .white_space_1 {
    grid-row: 4;
    grid-column: span 2;
  }

  .beratung_text {
    grid-row: 5;
    grid-column: 2;
  }

  .beratung_img {
    grid-row: 5;
    grid-column: 1;
  }

  .white_space_2 {
    grid-row: 6;
    grid-column: span 2;
  }

  .umsetzung_text {
    grid-row: 7;
    grid-column: 1;
  }

  .umsetzung_img {
    grid-row: 7;
    grid-column: 2;
  }

  .white_space_3 {
    grid-row: 8;
    grid-column: span 2;
  }

  .abonnement_text {
    grid-row: 10;
    grid-column: 2;
  }

  .abonnement_img {
    grid-row: 10;
    grid-column: 1;
  }
}

@media (max-width: 768px) {
  .whole_grid {
    grid-template-columns: 1fr;
  }

  .whole_grid > * {
    grid-column: 1;
  }

  .design_text {
    grid-row: 2;
  }

  .design_img {
    grid-row: 3;
  }

  .white_space_1 {
    grid-row: 4;
  }

  .beratung_text {
    grid-row: 5;
  }

  .beratung_img {
    grid-row: 6;
  }

  .white_space_2 {
    grid-row: 7;
  }

  .umsetzung_text {
    grid-row: 8;
  }

  .umsetzung_img {
    grid-row: 9;
  }

  .white_space_3 {
    grid-row: 10;
  }

  .abonnement_text {
    grid-row: 11;
  }

  .abonnement_img {
    grid-row: 12;
  }
}
